[submodule "com_trope"]
	path = com_trope
	url = git@github.com:TropeNetwork/com_trope.git
[submodule "wiki"]
	path = wiki
	url = git@github.com:TropeNetwork/TrOpE.wiki.git
[submodule "tropenetwork.github.com"]
	path = tropenetwork.github.com
	url = git@github.com:TropeNetwork/tropenetwork.github.com.git
[submodule "TrOpE_WS"]
	path = TrOpE_WS
	url = git@github.com:TropeNetwork/TrOpE_WS.git
